@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

:root {
  /* colors */
  --primary-color: #f4be2c;
  --primary-color-alt: #a77b06;
  --text-color-bg-white: #0d0d0d;
  --text-color-bg-black: #ffffff;

  /* font size */
  --biggest-font-size: 7rem;
  --bigger-font-size: 5rem;
  --heading-font-size: 2.8rem;
  --regular-font-size: 2rem;
  --small-font-size: 1.8rem;

  /* margins */
  --mb-0-75: 0.75rem;
  --mb-1-0: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2-0: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3-0: 3rem;

  /* z-index */
  --z-index-n-1: -1;
  --z-index-n-2: -2;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-top: 99;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 
  3.1 scroll bar theme
*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #242b2e;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color-alt);
  border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 
    9. UL and A element reset
*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/************************* UTILITY CLASSES ***********************/
.section {
  width: 100%;
  height: auto;
  /* border: 2px solid red; */
  padding: 120px 0 80px 0;
  position: relative;
}
.container {
  max-width: 1280px;
  width: 100%;
  /* border: 2px solid green; */
  margin: auto;
}

.container__header {
  /* border: 2px solid red; */
  margin-bottom: calc(var(--mb-3-0) + var(--mb-2-0));
}

.grid {
  display: grid;
}

.container__header-heading {
  font-size: var(--bigger-font-size);
  color: var(--text-color-bg-white);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.container__header-paragraph {
  font-size: var(--heading-font-size);
  color: var(--text-color-bg-white);
  text-align: center;
}

.sub-headings {
  font-size: var(--regular-font-size);
  color: var(--text-color-bg-white);
}

.section__paragraph {
}

/************************* HEADER ***********************/
#header {
  /* border: 2px solid red; */
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 0px 0 0px 0;
  z-index: var(--z-index-2);
  background-color: #0d0d0d42;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

#logo {
  width: 60px;
  filter: invert(1);
}

#menu {
  /* border: 2px solid blue; */
  grid-template-columns: repeat(6, auto);
  gap: 30px;
  padding: 20px 0px;
}

.menu__item {
  /* border: 1px solid red; */
}

.menu__item-link {
  /* border: 1px solid green; */
  padding: 10px 5px;
  color: #ffffff;
  font-size: 1.6rem;
}

#menu__hamburger {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.menu__stick {
  display: block;
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 5px;
}

/************************* HERO ***********************/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  place-content: center;
}

#hero::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(
    to top,
    rgb(255 255 255 / 0%) 20%,
    rgb(0 0 0 / 57%) 100%
  );
}

/* background video */
#bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -2;
}

/* hero content */
.hero__content {
  place-items: center;
  color: var(--text-color-bg-black);
}

.hero__content-branding {
  font-size: 7rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: var(--mb-2-0);
}

.branding-title #brand {
  color: var(--primary-color);
}

.hero__content-branding-support {
  font-size: 2rem;
  text-align: center;
  margin-bottom: var(--mb-3-0);
}

#connect-form {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  min-width: 550px;
  background: #ffffff;
}

.input-field {
  font-size: 1.8rem;
  outline: none;
  border: none;
  padding: 17px;
  flex: 1;
}

.btn {
  font-size: 2rem;
  font-weight: 600;
  padding: 17px 23px;
  border-radius: 1rem;
  background-color: var(--primary-color);
  text-decoration: none;
}

button[type="submit"] {
  cursor: pointer;
}

#down-page-indicator {
  position: absolute;
  bottom: 23px;
  right: 50%;
  /* transition: ease-in-out 0.3s infinite; */
  animation: updownmotion 0.8s infinite alternate;
}

@keyframes updownmotion {
  from {
    transform: translateY(-7px);
  }
  to {
    transform: translateY(2px);
  }
}

/************************* OUR TEAM ***********************/
#ourTeam {
  position: relative;
  height: auto;
}

#ourTeam::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: url("/assets/team.jpg");
  background-size: cover;
  z-index: var(--z-index-n-1);
  opacity: 0.6;
}

.ourTeam__content {
  /* margin-top: calc(0 - var(--mb-3-0)); */
  max-width: 800px;
}

.consulting__content-content {
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  /* border: 2px solid red; */
  padding: var(--mb-2-0) 0;
}

.content__contents {
  grid-template-rows: repeat(2, auto-fit);
  gap: 50px;
  /* border: 2px solid red; */
}

.content__contents-lists {
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  padding: 0;
}

.content__list-item {
  display: flex;
  align-items: center;
  gap: 5px;
  /* border: 2px solid red; */
  padding: 5px 0;
}

/************************* INDUSTRIES ***********************/
.industries__content {
  grid-template-columns: repeat(4, minmax(154px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.industry-card {
  border: 1px solid black;
  border-radius: 9px;
  padding: var(--mb-2-0) var(--mb-0-75);
}

/* .industry-card:not(:hover) {
  filter: grayscale(1);
} */

.industry-card-img img {
  width: 154px;
  aspect-ratio: 3/4;
  object-fit: contain;
  margin: auto;
}

.industry-card > h3 {
  text-align: center;
}

/************************* FOUNDER ***********************/

#founder {
  background-color: var(--text-color-bg-white);
  z-index: var(--z-index-1);
}

#founder::before {
  content: "FOUNDER";
  font-family: "Open Sans", sans-serif !important;
  color: #a77b06;
  font-size: calc(var(--heading-font-size) * 10);
  font-weight: 600;
  position: absolute;
  text-align: center;
  /* border: 2px solid red; */
  width: 100%;
  /* max-width: 2040px; */
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-index-n-1);
  opacity: 0.2;
}

#founder__content {
  grid-template-rows: repeat(3 1fr);
  gap: var(--mb-3-0);
  place-items: center;
  max-width: 800px;
}

#founder__content-quote {
  color: var(--primary-color-alt);
  font-size: 18rem;
  /* margin-bottom: var(--mb-2-0); */
}
#founder__content-founders-words {
  /* margin-bottom: var(--mb-2-0); */
}

#founder__content-founders-words .container__header-paragraph {
  color: var(--text-color-bg-black);
  font-size: var(--regular-font-size);
  margin-bottom: var(--mb-2-0);
}

#founder__content-founders-words #dash {
  display: block;
  margin: auto;
  height: 5px;
  width: 60px;
  border-radius: 10px;
  background: var(--primary-color-alt);
}

#founder__content-profile img {
  display: block;
  margin: auto;
  margin-bottom: var(--mb-1-5);
}

#founder__content-profile .container__header-paragraph {
  color: var(--primary-color-alt);
}

/* clients section designing */
.slick-slide {
  margin: 0 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-initialized .slick-slide {
  display: block;
}
.copy {
  padding-top: 250px;
}
/* footer */
ooter {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 2px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px, cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

        
